<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-s-3 icon-footer">
        <img src="img/icon-shipping.png" alt="icono">
        <p><strong>Envíos gratis</strong><br>por 15€ de compra</p>
      </div>
      <div class="col-xs-6 col-s-3 icon-footer">
        <img src="img/icon-refund.png" alt="icono">
        <p><strong>Devoluciones gratis</strong><br>hasta 30 días tras la compra</p>
      </div>
      <div class="col-xs-6 col-s-3 icon-footer">
        <img src="img/icon-customer-service.png" alt="icono">
        <p><strong>Atención al cliente</strong><br>7 días a la semana</p>
      </div>
      <div class="col-xs-6 col-s-3 icon-footer">
        <img src="img/icon-secure.png" alt="icono">
        <p><strong>Pago seguro</strong><br>por 15€ de compra</p>
      </div>
    </div>
    <p>&copy; Fco José Sánchez Rodríguez</p>
  </div>
</footer>